* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.movieWrapper{
    display: flex;
    gap: 2px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 15px;
}
.movieWrapper::-webkit-scrollbar{
    display: none;
}
img{
    width: 150px;
    object-fit: contain;
}
section{
    font-size: 30px;
}



